<div class="about-container container-formation" id="about">
    <div class="fake-big">
        About
    </div>
    <h2>About me</h2>
    <span>Hi, my name is Niklas, I am a frontend developer. Thanks to further education, I have been able to build
        several projects and gain experience from professional software developers who have regularly given me
        suggestions on how to improve my projects. This allows me to build websites based on the latest web
        technologies, find and solve problems on my own. This includes frontend technologies like HTML5, CSS3,
        JavaScript, and techniques like Responsive Web Design. Also with the framework Angular, I have already created
        some pages.</span>
</div>