<div class="about-container container-formation" id="about">
    <div i18n class="fake-big">
        About
    </div>
    <h2 i18n>About me</h2>
    <span i18n>Hi, my name is Niklas, I am a frontend developer. Thanks to my further education, I have already been able
        to realize several projects and expand my knowledge through experienced software developers. From them, I have
        continuously received suggestions to improve my projects. I can create websites based on the latest web
        technologies, find problems myself and solve them. This includes frontend technologies like HTML5, CSS3,
        JavaScript, and techniques like Responsive Web Design. I have also created a few pages with the Angular
        framework.</span>
</div>