<div class="about-container container-formation" id="about">
    <div class="fake-big">
        About
    </div>
    <h2>About me</h2>
    <span> Hi, my name is Niklas, I am a frontend developer since 2021. Thanks to further education, I have been able to
        build several projects and gain experience from professional software developers who have regularly given me
        suggestions on how to improve my projects. This allows me to build websites based on the latest web
        technologies, find and solve problems on my own. This includes frontend technologies like HTML5, CSS3,
        JavaScript and techniques like Responsive Web Design. Also with the framework Angular I have already created
        some pages.</span>
    <!-- <span>Mein Name ist Niklas. Ich bin Frontend Entwickler. Nachdem ich
        nun seit 2007 als Kfz.-Mechatroniker arbeite, aber der Wunsch nach etwas Neuem immer
        größer wurde, habe
        ich mich dazu entschlossen meine Leidenschaft zum Programmieren
        zu meinem Beruf zu machen. Vor ein paar Jahren habe ich angefangen verschiedene
        Tutorials im Internet
        anzuschauen. So bin ich immer mehr auf das Programmieren
        und Entwickeln aufmerksam geworden. Da es alleine sehr schwer ist sich alles selbst
        beizubringen, habe
        ich einen Onlinekurs angefangen in dem ich die Grundkenntnisse
        in Python gelernt habe. Danach habe ich weitere Tutorials im Internet abgearbeitet und
        bin so auf die
        Developer Akademie aufmerksam geworden, dort habe ich mich direkt
        angemeldet. Ich habe während meiner Weiterbildung fundiertest Wissen zu HTML, CSS, JavaScript und dem Framework
        Angular erlangt. Mit der Hilfe von erfahrenen Softwareentwicklern konnte ich so die
        Weiterbildung zu einem
        Frontend Developer erfolgreich abschließen. Nun bin ich auf der Suche
        nach einem neuem Job in dem ich mein erlangtes Wissen vertiefen und neues Wissen
        dazuzulernen kann.
    </span> -->
</div>