.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 0;
    overflow: hidden;

    h2 {
        font-weight: 500;
        font-size: 68px;
        line-height: 40px;
        margin-top: 50px;
        margin-bottom: 80px;
        color: white;
        margin-block-end: 30px;
    }

    span {
        color: white;
    }

}
