<div #projects id="projects" class="work_container container-formation">
    <div class="fake-big">
        Work
    </div>
    <h2>My work</h2>
    <div class="titles_projects">
        <p>Here you can find a small selection of my projects.<br> Please feel free to visit my <a
                routerLink="projects-solo">work</a> page to see more.</p>
    </div>
    <div class="projects">
        <div *ngFor="let project of allProjects; let i = index">
            <div (mouseover)="showCard(i)" (mouseout)="hideCard(i)" id="projectCard" class="project">
                <img src="../../assets/img/projects/{{ project.img }}">
                <div id="card{{i}}" class="overlay_project hide card">
                    <img src="../../assets/img/projects/{{ project.imgover }}">
                    <!-- <div class="project_title">{{project.name}}</div>
                    <div class="project_description">{{project.description}}</div>
                    <div class="project_type">{{project.type}}</div> -->
                    <a href="{{ project.url }}" target="_blank">View</a>
                </div>
            </div>
        </div>
    </div>
</div>