<nav>
    <div class="logo">
        <img src="assets/img/Logo_white.png" alt="Logo">
    </div>
    

    <div class="links">
        <a href="#home">Home</a>
        <a href="#skills">Skills</a>
        <a routerLink="projects-solo">Work</a>
        <a routerLink="about-solo">Über Mich</a>
        <a href="#contact">Kontakt</a>
    </div>
    <div class="social-media">
        <a href="https://www.linkedin.com/in/niklas-zeiler-4b2a56220/"><img src="assets/img/linkedin-3-32.png" alt="LinkedIn"></a>
        <a href="https://github.com/NiklasZeiler"><img src="assets/img/github-9-32.png" alt="GitHub"></a>
        <a href="https://www.xing.com/profile/Niklas_Zeiler/cv"><img src="assets/img/xing-32.png" alt="Xing"></a>
    </div>
    <div class="legal">
        <a routerLink="imprint">Impressum</a>
        <a routerLink="privacy">Datenschutz</a>
    </div>

</nav>
