.about-solo-container {
    display: flex;
    justify-content: center;
    color: white;

    .about-me-text {
        display: flex;
        flex-direction: column;
        width: clamp(10%, 140vw, 50%);
        justify-content: center;
        margin-bottom: 20px;

        h2 {
            font-weight: 500;
            font-size: 68px;
            line-height: 40px;
            color: white;

            &:hover {
                background: 50% 100% / 50% 50% no-repeat
                    radial-gradient(ellipse at bottom, white, transparent, transparent);
                -webkit-background-clip: text;
                background-clip: text;
                animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear 2000ms;

                @keyframes reveal {
                    80% {
                        letter-spacing: 8px;
                    }
                    100% {
                        background-size: 300% 300%;
                    }
                }
                @keyframes glow {
                    40% {
                        text-shadow: 0 0 8px white;
                    }
                }
            }
        }

        span {
            color: white;
            display: flex;
            align-items: flex-start;
            width: 100%;
            line-height: 24px;
        }
    }

    .about-me-slideshow {
        display: flex;
        justify-content: center;
        width: clamp(30%, 72vw, 100%);
        height: 800px;
        overflow: hidden;
        align-items: center;
        position: relative;
        border-radius: 5px;
        top: 100px;
        margin-left: 50px;

        img {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;            
            width: clamp(30%, 72vw, 100%);            
            height: 100%;
            object-fit: contain;
            max-width: 100%;           
            animation: opacity 5s ease-in-out;
        }

        @keyframes opacity {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .about-solo-container {
        flex-direction: column;
    }

    .about-me-text {
        width: 100% !important;
    }
}

@media screen and (max-width: 760px) {
    .about-me-slideshow {
        margin-left: 0px !important;
        margin-right: 0px !important;
        width: 100% !important;
        
        img {
            width: 100% !important;
        }
    }
}
