<div #about id="about" class="about-solo-container container-formation-solo" id="about">
    <div class="about-me-text">
        <h2>My Story</h2>
        <div class="question">
            <h3>Who am I?</h3>
            <span>My name is Niklas Zeiler and I am a Front-End Developer.</span>
        </div>
        <div class="question">
            <h3>Why did I become a software developer?</h3>
            <span>For me, becoming a software developer was the next logical step. The first time I got involved with
                developing anything was in school when I created our graduation CD using PowerPoint. After working in my
                profession for seven years, but my interest in programming never waned, I decided to make my passion my
                profession. Some time ago I started to teach myself independently, with the help of literature. But
                without a teacher, this project was very difficult and I made only small progress. This changed in 2021,
                thanks to the Developer Academy I now had a teacher and could realize my wish to become a software
                developer. During my training, I was able to write many projects alone or in teamwork and I always
                received suggestions for improvement from experienced software developers, which helped me to quickly
                reach a higher level.
            </span>
        </div>
        <div class="question">
            <h3>What are my strengths?</h3>
            <span>My way of working is characterized by a lot of reliability, commitment, and independent work. Due to
                my previous work in a large car dealership, I can handle stress well and always find a solution. As a
                result, I also have a very high degree of initiative, which was additionally promoted by creating my
                projects. When working with several people, my ability to work in a team came in handy. My willingness
                to learn and my interest in solving new tasks are also among my strengths.
            </span>
        </div>
        <div class="question">
            <h3>What are my skills?</h3>
            <span>During my further education, I have learned different frontend technologies like HTML5, CSS3 or
                JavaScript, also I can handle techniques like Responsive Webdesign. With object orientation, I have
                programmed a small game. The framework Angular and related TypeScript is also no problem for me. Thanks
                to the experienced software developers I could improve my skills constantly and find and fix errors in
                my code quickly.
            </span>
        </div>
        <div class="question">
            <h3>What is my vision?</h3>
            <span>With my knowledge, I would like to develop technologies that help other people. Software that makes
                people's lives easier, at work and home.
            </span>
        </div>
    </div>
    <div class="about-me-slideshow">
        <img *ngIf="showImage" src="assets/img/{{ images[currentImage] }}">
    </div>

</div>