<div #about id="about" class="about-solo-container container-formation-solo" id="about">
    <div class="about-me-text">
        <h2>My Story</h2>
        <div class="question">
            <h3>Who am I?</h3>
            <span>My name is Niklas Zeiler and I am a Front-End Developer.</span>
        </div>
        <div class="question">
            <h3>What are my skills?</h3>
            <span>During my further education, I learned various front-end technologies such as HTML5, CSS3 and
                JavaScript. The framework Angular and the associated TypeScript are other technologies that I can use. I
                can also handle techniques such as Responsive Web Design. With object orientation, I have programmed a
                small game. Thanks to experienced software developers, I was able to constantly improve my skills and
                find and fix errors in code.
            </span>
        </div>
        <div class="question">
            <h3>Why did I become a software developer?</h3>
            <span>For me, becoming a software developer was the next logical step. After working in the automotive
                industry for seven years and becoming more and more interested in programming, I decided to turn my
                passion into a profession. Some time ago, I started reading up on programming with the help of the
                literature and wrote my first small projects. Soon I realized that I could do this with professional
                support. When I became aware of the Developer Academy in 2021, I decided to train there to become a
                software developer. During this training, I built various projects from Responsive websites to small
                business apps in a team or on my own. Now I am experienced enough to start my journey as a junior
                developer in a company, helping to build great products and further develop my skills.
            </span>
        </div>
        <div class="question">
            <h3>What are my strengths?</h3>
            <span>Due to my previous work in a large car dealership, I can handle stress well and always find a
                solution. As a
                result, I also have a very high degree of initiative, which was additionally promoted by creating my
                projects. When working with several people, my ability to work in a team came in handy. My willingness
                to learn and my interest in solving new tasks are also among my strengths.
            </span>
        </div>
    </div>
    <div class="about-me-slideshow">
        <img *ngIf="showImage" src="assets/img/{{ images[currentImage] }}">
    </div>

</div>