<div #about id="about" class="about-solo-container container-formation-solo" id="about">
    <div class="about-me-text">
        <h2>My Story</h2>
        <div class="question">
            <h3>Who am I?</h3>
            <span>My name is Niklas Zeiler and I am a frontend developer.</span>
        </div>
        <div class="question">
            <h3>Why did I become a software developer?</h3>
            <span>For me it was the next logical step to become a software developer. The first time I had contact to
                develop something was in school when I created our graduation CD with PowerPoint. After working in my
                profession for seven years now, but my interest in programming didn't decrease, I decided to make my
                passion my profession. Some time ago I started to buy literature for independent learning and worked
                through it. But without a teacher this project was very difficult and I made only small progress. That
                changed in 2021, thanks to the Developer Academy I now had a teacher and could realize the desire to
                become a software developer.
            </span>
        </div>
        <div class="question">
            <h3>What are my strengths?</h3>
            <span>My way of working is characterized by a lot of reliability, commitment and independent work. Due to my
                past work in a large car dealership, I can handle stress well and always find a solution. As a result, I
                also possess a very high degree of initiative. My willingness to learn and my interest in solving new
                tasks are also among my strengths.
            </span>
        </div>
        <div class="question">
            <h3>What are my skills?</h3>
            <span>During my further education I have learned different frontend technologies like HTML5, CSS3 or
                JavaScript, also I can handle techniques like Responsive Webdesign. With object orientation I have
                programmed a small game. The framework Angular and related TypeScript are also no problem for me. Thanks
                to the experienced software developers I could improve my skills constantly and find and fix errors in
                my code quickly.
            </span>
        </div>
        <div class="question">
            <h3>What is my vision?</h3>
            <span>With my knowledge I would like to develop technologies that help other people. Software that makes
                people's lives easier, at work and at home.
            </span>
        </div>
    </div>
    <div class="about-me-slideshow">
        <img *ngIf="showImage" src="assets/img/{{ images[currentImage] }}">
    </div>

</div>