<div class="container-formation imprint">
    <h1>Impressum</h1>
    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>Niklas Zeiler<br />Nebeniusstra&szlig;e 14<br />60386 Frankfurt am Main</p>
    <h2>Kontakt</h2>
    <p>Telefon:<a> 017663316764</a><br/>E-Mail:<a [href]="emailstring"> zeiler.niklas&#64;outlook.de</a></p>
    <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
    <p i18n>Created my free logo at <a href="https://logomakr.com/">LogoMakr.com</a></p>
    <p>Icons: <a href="https://materialdesignicons.com/">https://materialdesignicons.com/</a></p>
</div>