
RewriteEngine on
RewritCond %{REQUEST_FILENAME} -s [OR]
RewritCond %{REQUEST_FILENAME} -l [OR]
RewritCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

RewriteRule ^(.*) /niklas-zeiler/index.html [NC,L]
