body {
    background-color: #1f1f1f;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    margin: 0;
    min-width: 320px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Source Sans Pro", sans-serif;
    box-sizing: border-box;
}

.container-formation {
    position: relative;
    padding: 140px 20px 0px 150px;
    min-height: 100vh;
}

.container-formation-solo {
    position: relative;
    padding: 0 50px 0 150px;
    min-height: 100vh;
}

.hide {
    display: none !important;
}

.mat-menu-panel {
    min-width: 100vw !important;
    min-height: 100vh !important;
    background-color: #1c1c1c !important;
}

.cdk-overlay-pane {
    position: unset;
}

.cdk-overlay-container {
    display: none;
}

@media screen and (max-width: 1000px) {
    .container-formation {
        padding: 140px 20px 0px 40px;
    }

    .container-formation-solo {
        padding: 0 50px 0 40px;
    }

    .cdk-overlay-container {
        display: block;
    }
}

@media screen and (max-width: 550px) {
    .container-formation-solo {
        padding: 0;
    }

    .container-formation {
        padding: 140px 20px 0px 10px;
    }
}
