<div #home id="home" class="introduction container-formation">
    <div class="start">
        <div class="text">
            <div id="typed-strings">
                <p i18n>Hi, <br> I am <span class="colored">Niklas</span>,<br> Front-End Developer</p>
            </div>
            <span id="typed"></span>
            <div class="container">
                <div>
                    <a i18n href="#contact" class="shrink-border" type="submit">Contact me</a>
                </div>
            </div>
            <!-- <a i18n class="draw-border" href="#contact">Contact me</a> -->
        </div>
        <div class="profilimg">
            <img src="/assets/img/profilbildsp.jpg" alt="">
        </div>
    </div>
    <div class="scroll-down-left"></div>

</div>