<div #home id="home" class="introduction container-formation">
    <div class="start">
        <div class="text">
            <div id="typed-strings">
                <p>Hi, <br> I am <span class="colored">Niklas</span>,<br> frontend developer</p>
            </div>
            <span id="typed"></span>
            <a class="draw-border" href="#contact">Contact me</a>
        </div>
        <div class="profilimg">
            <img src="/assets/img/profilbildsw.jpg" alt="">
        </div>
    </div>
    <div class="scroll-down-left"></div>

</div>
